@import '../../styles/color.variable.scss';

.todoHistory {
  width: 200px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: $white-color;
  border-radius: 10px;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.todoHistory__title {
  font-weight: 600;
}
.todoHistory__list {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .todoHistory {
    position: static;
    border-radius: 0;
  }
}
