@import '../../../styles/color.variable.scss';

.todoItem {
  width: 100%;
  height: 2.5rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
}
.todoItem__checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.checkbox__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.checkbox__tooltip {
  width: 200px;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: -16px;
  font-size: 12px;
  font-weight: 400;
  visibility: hidden;
}
.checkbox__wrapper:hover .checkbox__tooltip {
  visibility: visible;
}
.todoItem__input {
  width: 70%;
  height: 100%;
  &:focus {
    border: 1px solid $black-color;
  }
}
.todoItem__title {
  display: inline-block;
  width: 70%;
}
.todoItem__edit {
  width: 15%;
  height: 100%;
}
.todoItem__delete {
  width: 15%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .todoItem__edit, .todoItem__delete {
    padding: 0;
    font-size: 14px;
  }
}